### Telegram TOKEN ### 
BOT_TOKEN=6666666666:SUP3RT0K3N

BOT_ADMIN='1234567890'

### Database Postgres ###
BOT_DATABASE_HOST=db
BOT_DATABASE_PORT=5432
BOT_DATABASE_NAME=yoloboi
BOT_DATABASE_USER=yoloboi
BOT_DATABASE_PASSWORD=yoloboi
